# Ignore virtual environment
**/.venv/

# Ignore Python bytecode
**/__pycache__/

# Ignore .env file 
**/.env

# Ignore .vscode folder
**/.vscode/

# Ignore Planning folder
Planning/

# Ignore justpy.env file 
**/justpy.env

# Ignore app.log file 
**/app.log